<ion-view ng-init="init()">
  <ion-nav-bar>
    <ion-nav-buttons side="left">
      <button class="button-clear" ng-click="goBack()">
        <i class="ion-chevron-left"></i>
      </button>
    </ion-nav-buttons>
  </ion-nav-bar>
  <ion-content>
    <div class="item main-menu-item main-menu-item--positive main-menu-item--small">
      <h2>
        <strong>Pickalo Created!</strong>
      </h2><i class="icon ion-images" style="color:black"></i>
    </div>

    <label class="item item-input item-stacked-label">
      <span class="input-label">Question</span>
      <input ng-model="pickalo.link" type="text" placeholder="type here...">
    </label>

    <a href="#/results" class="button button-block button-energized">
      <strong> RESULTS </strong>
    </a>


  </ion-content>
</ion-view>
