
<ion-view>
  <ion-nav-bar>
    <ion-nav-buttons side="left">
      <button class="button-clear" ng-click="goBack()">
        <i class="ion-chevron-left"></i>
      </button>
    </ion-nav-buttons>
  </ion-nav-bar>
  <ion-content>
      <div class="item main-menu-item main-menu-item--positive">
        <h2><strong>Pickalo Created!</strong></h2><i class="icon ion-images" style="color:black"></i>
      </div>

    <input ng-model="pickalo.link" type="text" placeholder="type here...">

    <a href="#/link" class="button button-block button-energized" >
      <strong> RESULTS </strong>
    </a>


  </ion-content>
</ion-view>
