<ion-view>
  <ion-nav-bar>
    <ion-nav-buttons side="left">
      <button class="button-clear" ng-click="goBack()">
        <i class="ion-chevron-left"></i>
      </button>
    </ion-nav-buttons>
  </ion-nav-bar>
  <ion-content>

    <label class="item item-input item-stacked-label">
      <input ng-model="form.question" type="text" placeholder="type here...">
    </label>

    <h3 class="images-added">{{images.length}} images added.</h3>

  </ion-content>

  <div class="form-footer">
    <button class="button button-block button-royal btn-form" ng-click="openCamera()">
      New picture
    </button>
    <button class="button button-block button-positive btn-form" ng-click="postForm()">
      Submit
    </button>
  </div>

</ion-view>
