<ion-view>
  <ion-nav-bar>
    <ion-nav-buttons side="left">
      <button class="button-clear" ng-click="goBack()">
        <i class="ion-chevron-left"></i>
      </button>
    </ion-nav-buttons>
  </ion-nav-bar>
  <ion-content>
    <div class="button button-block button-positive">
      <strong>MY PICKALOS</strong>
    </div>

  <div class="list">

    <ul ng-repeat="item in oldPicks">
      <li class="item item-thumbnail-left">
      <!--   <img src="item...."> -->
        <h2>item....</h2>
      </li>
    </ul>

  </div>


  </ion-content>
</ion-view>



