
.main-menu-item {
  height: 100vh;
  font-size: 5vh;
  text-align: center;
  padding-top: 45vh;
}

.main-menu-item--positive {
  background-color: $positive;
  border: none;
}

.main-menu-item--positive:hover {
  background-color: lighten($positive, 10);
  border: none;
}

.main-menu-item--small {
  height: 20vh;
}
